<div class="card" *ngIf="combinedData$ | async as data">
    <h2>System</h2>

    <div class="card">
        <table>
            <tr *ngFor="let row of getSystemRows(data)">
                <td class="text-500 vertical-align-top white-space-nowrap pr-4" [ngClass]="row.class">{{ row.label }}</td>
                <td class="vertical-align-top line-break-anywhere" [ngClass]="(row.class || '') + ' ' + (row.valueClass || '')" [attr.sensitive-data]="row.isSensitiveData ? '' : null" [pTooltip]="row.tooltip">{{ row.value }}</td>
            </tr>
        </table>

        <button pButton class="btn btn-primary mt-5" (click)="identifyDevice()">
            Identify device
        </button>
    </div>
</div>