<ng-container *ngIf="tooltip; else noTooltip">
    <ng-container *ngIf="split; else noSplit">
        <span *ngIf="preLastWords">{{ preLastWords }}&nbsp;</span>

        <span class="white-space-nowrap">
            {{ lastWord }}<tooltip-icon [tooltip]="tooltip" [icon]="icon" />
        </span>
    </ng-container>

    <ng-template #noSplit>
        <span class="white-space-nowrap">
            {{ text }}<tooltip-icon [tooltip]="tooltip" [icon]="icon" />
        </span>
    </ng-template>
</ng-container>

<ng-template #noTooltip>
    {{ text }}
</ng-template>
